/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
  
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.carousel-item{
    height: 300px;
}

.hero {
    height: 30vh;
    position: relative;
    margin-bottom: 2rem;
    background: url('/Sliders/3.jpg') center no-repeat;
    border-radius: var(--borderRadius);
}

.hero-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: var(--borderRadius);
}

.hero-text {
    color: var(--white);
    text-align: center;
    
}
.hero-title {
    animation: slideFromRight 5s ease-in-out 1;
}
.hero-subheading {
    animation: slideFromLeft 5s ease-in-out 1;
}

@media only screen and (min-width: 768px) {
    .hero-text h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(1000px);
    }

    50% {
        transform: translateX(-200px);
    }

    75% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-1000px);
    }

    50% {
        transform: translateX(200px);
    }

    75% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
}
